{# component/_navbar.html.twig #}

{#_navbar.html.twig #}
{% extends 'layout.html.twig' %}

<nav class="topnav">
  <ul>
    <li><a href="#Accueil">Accueil</a></li>
    <li><a href="#Apropos">À propos</a></li>
    <li><a href="#Contact">Contact</a></li>
  </ul>
</nav>